/Builds/CLion/cmake-build-*
/Builds/CLion/.idea
/Builds/CodeBlocksWindows/bin
/Builds/CodeBlocksWindows/obj
/Builds/CodeBlocksWindows/*.depend
/Builds/CodeBlocksWindows/*.layout
/Builds/LinuxMakefile/build
