[submodule "Vendor/vst3sdk"]
	path = Vendor/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "Vendor/juce"]
	path = Vendor/juce
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "Vendor/fst"]
	path = Vendor/fst
	url = https://git.iem.at/zmoelnig/FST.git
